body {
  font-family: 'Roboto Mono', monospace;
  background-color: #566d77;
  margin: 50px 0px;
  color: white
}

.main-section small {
  font-size: 12px;
}

.main-section h3,
.main-section h5 {
  margin: 0px;
}

.main-section h3 {
  font-size: 20px;
}

.main-section {
  width: 960px;
  background-color: #302e2e;
  margin: auto;
}

.head-section {
  border-bottom: 1px solid #4e4e4e;
  clear: both;
  overflow: hidden;
  width: 100%;
}

.headLeft-section {
  width: calc(30% - 1px);
  float: left;
  border-right: 1px solid #4e4e4e;
}

.headLeft-sub p {
  margin: 0 0 0 20px;
}

.headRight-section {
  width: 70%;
  float: left;
}

.headRight-sub {
  margin-left: 10px;
}

.body-section {
  clear: both;
  overflow: hidden;
  width: 100%;
}

.left-section {
  width: calc(30% - 1px);
  float: left;
  height: 500px;
  border-right: 1px solid #4e4e4e;
  background-color: #302e2e;
  z-index: 1;
  position: relative;
}

.left-section ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.left-section ul li {
  padding: 15px 0px;
  cursor: pointer;
}

.left-section ul li.active {
  background: #009EF7;
  color: #fff;
  position: relative;
}

.mCustomScrollBox,
.mCSB_container {
  overflow: unset !important;
}

.left-section ul li.active .desc .time {
  color: #fff;
}

.left-section ul li.active:before {
  position: absolute;
  content: '';
  right: -10px;
  border: 5px solid #009EF7;
  top: 0px;
  bottom: 0px;
  border-radius: 0px 3px 3px 0px;
}

.left-section ul li.active:after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  left: auto;
  width: 100%;
  top: 0px;
  -webkit-box-shadow: -8px 4px 10px #a1a1a1;
  -moz-box-shadow: -8px 4px 10px #a1a1a1;
  box-shadow: -8px 4px 10px #a1a1a1;
}

.left-section .chatList {
  overflow: hidden;
}

.left-section .chatList .img {
  width: 60px;
  float: left;
  text-align: center;
  position: relative;
}

.left-section .chatList .img i {
  position: absolute;
  font-size: 10px;
  color: #52E2A7;
  border: 1px solid #fff;
  border-radius: 50%;
  left: 10px;
}

.left-section .chatList .desc {
  width: calc(100% - 60px);
  float: left;
  position: relative;
  margin-left: 20px;
}

.left-section .chatList .desc h5 {
  margin-top: 6px;
  line-height: 5px;
}

.left-section .chatList .desc .time {
  position: absolute;
  right: 15px;
  color: #c1c1c1;
}

.right-section {
  width: 70%;
  float: left;
  height: 500px;
  background-color: #302e2e;
  position: relative;
}

.message {
  height: calc(100% - 68px);
  overflow-y: scroll;
}

.message ul {
  list-style: none;
  width: 90%;
  overflow: hidden;
}

.message ul li {
  padding: 5px 0px;
  clear: both;
  max-width: 80%;
}

.message ul li.msg-left {
  float: left;
}

.message ul li.msg-left .msg-desc {
  font-size: 12px;
  background: #494848;
  padding: 7px 10px;
  border-radius: 5px 5px 5px 0px;
  position: relative;
}

.message ul li.msg-left .msg-desc:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-bottom-color: #494848;
  bottom: 0px;
  left: -10px;
}

.message ul li.msg-left small {
  float: right;
  color: #c1c1c1;
}

.message ul li.msg-right {
  float: right;
}

.message ul li.msg-right .msg-desc {
  margin-right: 10px;
  font-size: 12px;
  background: #3e5e80;
  color: white;
  padding: 7px 10px;
  border-radius: 5px 5px 5px 0px;
  position: relative;
}

.message ul li.msg-right .msg-desc:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-bottom-color: #3e5e80;
  bottom: 0px;
  right: -10px;
}

.message ul li.msg-right small {
  float: right;
  color: #c1c1c1;
  margin-right: 20px;
}

.right-section-bottom {
  background: #302e2e;
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #4e4e4e;
  text-align: center;
}

.right-section-bottom input {
  border: 0px;
  padding: 8px 5px;
  width: calc(100% - 150px);
  background-color: #302e2e;
  color: white;
  border-bottom: 1px solid #c1c1c1;
}

.right-section-bottom .btn-send {
  border: 1px solid #302e2e;
  padding: 5px 5px;
  border-radius: 20px;
  float: right;
  margin-right: 40px;
  color: #8a8989;
  font-size: 14px;
  background: #444141;
  cursor: pointer;
}

form input:focus {
  outline: none;
  border-bottom: 1px solid #c1c1c1;
}

.username {
  font-weight: bold;
  font-size: 11px;
}

::-webkit-scrollbar {
  width: 10px;
}